<!doctype html>
<head>
    <title>KegParty - <%= beer.data.name %></title>
    <link href="/css/styles.css" rel="stylesheet" ></link>
    <link href="/css/modal.css" rel="stylesheet" ></link>
</head>
<body>
  <div class="wrapper">
    <a href="/"> <h1>Keg Party</h1> </a>
      <div class="flex-container-column beer-title">
        <h2><%= beer.data.name %></h2>
        <h3><%= brewery.data[0].name %></h3>
      </div>
      <div class="flex-container">
        <% if (typeof beer.data.labels !== 'undefined') { %>
          <img class="beer-image flex-item" src="<%= beer.data.labels.large %>" />
        <% } else { %>
          <img src="/img/Placeholder.png" />
        <% } %>
        <div class="flex-item">
          <h3> Description </h3>
          <p><%= beer.data.description %></p>
          <p>Style: <%= beer.data.style.name %> </p>
          <p>ABV: <%= beer.data.style.abvMin %>%</p>
          <% if (loggedInUser) { %>
            <% if (typeof isFav === 'undefined') { %>
              <div>
                <form action="/users/addToFavorites" method="post" >
                  <input type="hidden" name="beerName" value="<%= beer.data.name %>" />
                  <input type="hidden" name="beerID" value="<%= beer.data.id %>" />
                  <input type="submit" value="Add To Favorites" />
                </form>
                <button id="reviewButton" onclick="showReviewModal()" >Write a Review</button>
              </div>
            <% } %>
            <% if (typeof isFav !== 'undefined') { %>
              <form action="/users/removeFromFavorites" method="post" >
                <input type="hidden" name="beerName" value="<%= beer.data.name %>" />
                <input type="hidden" name="beerID" value="<%= beer.data.id %>" />
                <input type="submit" value="Remove From Favorites" />
              </form>
              <button id="reviewButton" onclick="showReviewModal()" >Write a Review</button>              
            <% } %>
          <% } %>
        </div>
      </div>
        <div class ="flex-container-column">
          <div class="review"> <h3> Reviews </h3> </div>
          <div class="review">
          <% if (reviews.length < 1) { %>
          <h3>No reviews yet. Be the first to review this beer!</h3>
          <% } %>
          <% reviews.forEach((item) => { %>
            <h4><%= item.title %> | Rating: <%= item.rating %></h4>
            <h5> User: <%= item.userid %></h5>
            <p><%= item.body %></p>
          <% }); %>
          </div>
        </div>


      <div id="reviewModal" class="modal">
      <div class="modal-content">
        <form action="/users/addReview" method="post">
          <div class="flex-item">
            Title:<br/> <input type="text" name="title" class="flex-item" /><br/>
            Body: <textarea name="textBody" id="textBody" cols="30" rows="10" class="flex-item"></textarea>
            Rating: <input type="number" name="rating" min="0" max="5" class="flex-item" />
            <input type="hidden" name="beerID" value="<%= beer.data.id %>" />
            <input type="submit" name="submit" class="flex-item" />
          </div>
        </form>
      </div>
    </div>
</div>
  <script type="text/javascript" src="/js/helpers.js"></script>
</body>
