<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <title>KegParty: Account</title>
  </head>
  <body>
    <% include ./partials/nav %>
    <div class="wrapper">
      <div class="flex-container-column account-header">
        <div class="flex-item">
          <h2><%= user.username %>'s Profile</h2>
        </div>
      </div>
      <div class="flex-container-column">
        <div class="flex-item">
        <h3><%=user.username%>'s Favorite Beers:</h3>
        </div>
          <ul class="favorites-columns">
            <% for(let i=0; i < favorites.length; i++){ %>
              <li class="flex-item">
                <a href="/beers/<%= favorites[i].beerID %>"><%= favorites[i].beerName %></a>
              </li>
            <% } %>
          </ul>
      </div>
      <div class="flex-container-column">
      <div><h3><%=user.username%>'s Reviews</h3> </div>
          <div class="review">
          <% if (reviews.length < 1) { %>
          <h3 style="text-align:center;">No reviews yet. Get out there and write some!</h3>
          <% } %>
          </div>
          
          <% reviews.forEach((item) => { %>
            <div class=" flex-container-column review">
              <h4><%= item.title %> | Rating: <%= item.rating %></h4>
              <p><%= item.body %></p>
              <a class="btn" style="text-align:center;" href="/beers/<%= item.beerid %>">Go to this review</a>
            </div>
          <% }); %>
          </div>
      </div>
    </div>
  </body>
</html>
