<!doctype html>
<head>
    <title>KegParty - Search Results</title>
    <link href="/css/styles.css" rel="stylesheet" ></link>
    <link rel="stylesheet" href="/css/font-awesome.min.css">

</head>
<body>
  <a href="/"> <h1 class="result-title">Keg Party</h1> </a>
  <div class = "flex-container-column">
  <div class="seach-container">
    <form method="get" action="/search" >
      <input type="text" name="searchText" class="search-textbar">
      <button type="submit" class="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </div>
    <% if(beerList !== undefined){ %>
        <% for(let i=0; i < beerList.length; i++){ %>
          <% if(beerList[i].style != undefined){ %>
            <div class = "flex-item"><a href='/beers/<%= beerList[i].id %>'><%= beerList[i].name %> | <%= beerList[i].style.name %></a>
          <% } else { %>
            <div class = "flex-item"><a href='/beers/<%= beerList[i].id %>'><%= beerList[i].name %>%></a>
          <% } %>
          <% if(beerList[i].description != undefined){ %>
            <p><%= beerList[i].description %></p></div>
          <% } else { %>
            <p>(No Description)</p></div>
          <% } %>
        <% } %>
    <% } else {%>
      <p>No Search Results</p>
    <%}%>
  </div>
</body>
